@keyframes backgroundanim {
	from {background-color: white;}
	to {background-color: #c0c0c0;}
}

@keyframes shadowanim {
	from {box-shadow: 0 0 0 0 black;}
	to {box-shadow: 0 0px 20px 0 black;}
}

body {
	animation-name: backgroundanim;
	animation-duration: 1s;
	background-color: #c0c0c0 !important;
}

#mainContent {
	margin-left: 20vw;
	margin-right: 20vw;
	margin-top: 5vh;
	background-color: white;
	border-radius: 15px;
	padding-top: 5px;
	padding-bottom: 20px;
	box-shadow: 0 0px 20px 0 black;
	animation-name: shadowanim;
	animation-duration: 1s;

}

#navbar {
	list-style-type: none;
	margin-left: 20vw;
	margin-right: 20vw;
	padding: 0;
	overflow: hidden;
	background-color: white;
	border-radius: 15px;
	box-shadow: 0 0px 20px 0 black;
	animation-name: shadowanim;
	animation-duration: 1s;
}

#navbar > li {
	display: inline;
	float: left;
}

#navbar > li a{
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#navbar > li a:hover{
	background-color: #f3f3f3;
}

.active {
	background-color: #999999 !important; 
	font-weight: bold;
}

hr {
	width: 95%;
}

#reqAst {
	color: red;
}

footer {
	margin-left: 20vw;
	margin-right: 20vw;
	margin-top: 5vh;
	margin-bottom: 5vh;
	background-color: white;
	border-radius: 15px;
	padding: 3px;
	box-shadow: 0 0px 20px 0 black;
	animation-name: shadowanim;
	animation-duration: 1s;
}

#jal, #cay, #hab {
	max-height: 800px;
	max-width: 640px;
}

#self {
	width: 60%;
	height: auto;
	max-width: 300px;
	max-height: 300px;
}

ul {
	margin-left: 25%;
	margin-right: 25%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

p, li, figcaption, span, label, small, input {
	font-family: 'Roboto', sans-serif;
	color: #585a5c;
}