body {
	background-color: #c0c0c0 !important;
}

#mainContent {
	margin-left: 20vw;
	margin-right: 20vw;
	margin-top: 5vh;
	margin-bottom: 5vh;
	background-color: white;
	border-radius: 15px;
}

#navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
	border-radius: 5px;
}

#navbar > li {
	display: inline;
	float: left;
}

#navbar > li a{
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#navbar > li a:hover{
	background-color: #f3f3f3;
}

.active {
	background-color: #999999;
	font-weight: bold;
}

mark {
	opacity: 0.8;
}