body {
	animation-name: backgroundanim;
	animation-duration: 5s;
	background-color: #c0c0c0 !important;
}

#mainContent {
	margin-left: 20vw;
	margin-right: 20vw;
	margin-top: 5vh;
	background-color: white;
	border-radius: 15px;
	padding-top: 5px;
	padding-bottom: 20px;
}

#navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
	border-radius: 5px;
}

#navbar > li {
	display: inline;
	float: left;
}

#navbar > li a{
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#navbar > li a:hover{
	background-color: #f3f3f3;
}

.active {
	background-color: #999999;
	font-weight: bold;
}

hr {
	width: 95%;
}

mark {
	background-color: #85eda1;
	
}

#reqAst {
	color: red;
}

footer {
	margin-left: 20vw;
	margin-right: 20vw;
	margin-top: 1vh;
	margin-bottom: 5vh;
	background-color: white;
	border-radius: 15px;
	padding: 3px;
	
}

@keyframes backgroundanim {
	from {background-color: white;}
	to {background-color: #c0c0c0;}
}

#jal, #cay, #hab {
	max-height: 800px;
	max-width: 640px;
}